<h1>O Catálogo de Filmes</h1>

<h3>Gêneros de filmes cadastrados:</h3>
<% @movie_genres.each do | movie_genre | %>

  <%= link_to movie_genre.name, movie_genre %>
  <br>

<% end %>

<h3>Diretores de filmes cadastrados:</h3>
<% @directors.each do | director | %>

  <%= link_to director.name, director %>
  <br>

<% end %>


<h3>Filmes cadastrados:</h3>
<% @movies.each do | movie | %>

  <%= link_to movie.title, movie %> -
  Lançado em: <%= movie.release_year %>
  <br>

<% end %>
